{% extends 'layout.html' %}
{% block content %}
	{% if session.logged_in %}
	<h2>Les tableaux auxquels vous êtes invités</h2>
	<ul class='li'>
		{% for board in invitedBoards %}
			<li><a href="{{ url_for('show_board', boardID=board.id) }}">{{ board.title }}</a></li>
		{% else %}
			<li>Vous n'avez pas encore été invité à un tableau!</li>
		{% endfor %}
	</ul>
	{% else %}
	<h2>Tous les utilisateurs</h2>
	<ul class='li'>
		{% for item in li %}
			<ol>{{ item.username }} - Joined: {{ item.jdate }}</ol>
		{% else %}
			<li>Aucun utilisateur pour le moment, ajouter un utilisateur.</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}